# IDE
.idea/
*.iml
.fastRequest/

# Logs
logs/
*.log
blog-web/.logs/

# OS
.DS_Store
Thumbs.db

# Java
blog-server/target/

# Node
blog-web/node_modules/
blog-web/dist/
blog-web/.npm-cache/

# Env
.env
.env.local
